body{
  margin: 0px;  
  height: 100vh;
  background-image:url("../images/ImagenFondo.jpg");
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@font-face{
    font-family: "HamburgHand-Light";
  src:  url("../fonts/HamburgHand-Light.otf")
}

@font-face{
    font-family: "HamburgHand-Regular";
  src:  url("../fonts/HamburgHand-Regular.otf")
}

@font-face{
    font-family: "GT-Super-Display-Light-Italic";
  src:  url("../fonts/GT-Super-Display-Light-Italic.ttf")
}
* {
  box-sizing: border-box;
}

.luis {
font-family: "HamburgHand-Regular";
font-size: 40px;
color: white;
margin: 0px;
margin-left: 40px;
padding-top: 20px;
}
.horcajo {
  font-family: "GT-Super-Display-Light-Italic";
  font-size: 40px;
  color: white;
  margin-top: -8px;
  margin-left: 40px;

  

  }
  ul li {
    font-family: "HamburgHand-Regular";
    font-size: 24px;
    color: white;
    margin-right: 40px;
    
    
    }
    ul{
      display: flex;
      justify-content: flex-end;
    list-style: none;
    color: white;
    text-decoration: none;
    padding-top: 8px;
    }
    ul li a{
      color: white;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 4px;
   
  }
  ul li a:hover{
    -webkit-transition: 0.2s;
-moz-transition: 0.2s;
-ms-transition: 0.2s;
-o-transition: 0.2s;
transition: 0.2s; 
    transition: 0.2s;
    border-bottom: 2px solid white;
    

    
    
  }
    nav{
      display: flex;
      justify-content: space-between;
    }
    section p{
    font-family: "HamburgHand-Light";
    font-size: 48px;
    color: white;
    align-content: center;
    margin-left: 145px;
    margin-top: -56px;
    letter-spacing: 0.3px;
    }

span{
  font-family: "GT-Super-Display-Light-Italic";
}
footer{
  
  bottom: 32px;
  width: 100%;
  margin: 0 auto;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 32px;
}
footer a{
  color: white;
  text-decoration: none;
  font-family: "HamburgHand-Regular";
  font-size: 18px;
  align-content: flex-end;
}
.footerizquierda{
  float: left;
  text-align: left;
  align-content: space-around;
  display: flex;
  align-items: center
}
.footerderecha{
  float: right;
        text-align: right;
        align-content: space-around;
        display: flex;
        justify-content: flex-end;
        align-items: center;
}
.margin-right{
  margin-right: 16px;
}
.line{
  width: 20px;
  height: 3px;
  background-color: white;
}


.plinea{
  border-bottom: 3px solid white;
  display: inline-block;
  
  
}

.plineadiv{
  display: flex;
  padding-top: 10px;
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.fade-in{
  -webkit-transition: fade-in 1.5s;
-moz-transition: fade-in 1.5s;
-ms-transition: fade-in 1.5s;
-o-transition: fade-in 1.5s;
transition: fade-in 1.5s; 
  animation: fade-in 1.5s;
}
